* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

#pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
}

.button__primary:hover {
    border: 2px solid #EA906C;
    cursor: pointer;
}

.container {
    max-width: 100%;
    padding:  20px;
    margin: 0 auto;
}

.hero__text {
    font-weight: 800;
    font-size: 32px;
    margin: 20px 0;
    color: #1d3557;
}

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.food__card {
    background-color: #F9F9F9;
}

.food__card__image__container {
    width: 100%;
}

.food__image {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.food__card__description {
    padding: 15px;
}

.explore__menu__text {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
    font-weight: 800;
    color: #1d3557;
}

.review__text {
    font-weight: 900;
    color: #1d3557;
}

.review__image {
    width: 100%;
}

.restraunt__image {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

.button__header {
    color: #1d3557;
    font-weight: 900;
    text-align: center;
}

.input__container {
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
    gap: 7px;
}

.input__button {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 3px;
}

.input__field {
    width: 300px;
}

.prov__image__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    width: 100%;
    height: 200px;
    
}

.prov__image {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}


.footer {
    position: relative;

}

.footer__bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    border-radius: 15px 15px 0px 0px;
    z-index: -3;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.footer__text {
    color: white;
    font-weight: 900;
}

.footer__list {
    color: white;
    margin-bottom: 15px;
}

.footer__listing {
    list-style-type: none;
}

@media (min-width: 768px) {
    .explore__menu__lists {
        margin-top: 45px;
        display: flex;
        gap: 15px;
        padding: 0 30px ;
    }

    .explore__menu__container {
        position: relative;
    }

    .explore__menu__gradient__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        z-index: -3;
        transform: skewY(-5deg);
    } 

    .navbar{
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .review__image {
        width: 100%;
        height: 100%;
    }

    .flex__container {
       margin-top: 10px;
       display: flex;
       align-items: center;
    }

    .review__text {
        margin-top: 170px;
        font-size: 32px;
    }

    .review__image__container {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        height: 100px;
        padding: 30px;
        gap: 4px;
    }

    .review__image1 {
        height: 100px;
        width: 150px;
        margin-top: 50px;
    }

    .review__image2 {
        height: 150px;
        width: 200px;
    }

    .review__image3 {
        height: 150px;
        width: 200px;
    }

    .review__image4 {
        height: 100px;
        width: 150px;
    }

    .button__container {
        margin-top: 250px;
    }
     
}



@media (min-width: 1024px) {
    .explore__menu__lists {
        gap: 25px;
    }
    
    .navbar__brand {
        width: 150px;
    } 

    .container {
        max-width: 70%;
    }

    .button__primary {
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .hero__description {
        width: 100%;
    }

    .hero__text{
        font-size: 50px;
    }
}

